data/crankseg_2.mtx
data/pwtk.mtx
data/ship_001.mtx
data/web-Google.mtx
data/af_shell9.mtx
data/Fault_639.mtx
data/kkt_power.mtx
data/kron_g500-logn18.mtx
data/mouse_gene.mtx
data/nd24k.mtx
data/TSOPF_FS_b300_c3.mtx
data/mycielskian16.mtx
output3/*
output/*
*.[Oo]
*.out
*.exe
*.bin
nohup.out
hyte
.vscode/